<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='/my_style.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='/edit_stock_style.css') }}">
    <title>Edit Comments about Stock</title>
</head>
<div class="container_page_height">
<body>
<div class="flex_nav_container">   
    <div class="nav_container">
        <h1 class="Edit_Comments_Font">Edit comments about {{ this_stock.name }}</h1>
    <ul class="nav_bullets_container">
        <h2 id="first_bullet" class="nav_bullet"><a class="bullet_font" href="/stocks_table">Stock Table</a></h2>
        <h2 id="seccond_bullet" class="nav_bullet"><a class="bullet_font" href="/logout">Log out</a></h2>
    </ul>
    </div>
</div> 
        
    <p></p>

    {% with messages = get_flashed_messages() %}<!-- declare a variable called messages -->
{% if messages %}<!-- check if there are any messages -->
    {% for message in messages %}<!-- loop through the messages -->
        <p class="validations_update_comment">{{message}}</p><!-- display each message in a paragraph tag -->
{% endfor %}
    {% endif %}
{% endwith %}

<div class="flex_form">
    <form action="/stocks/edit_process/{{this_stock.id}}" method="POST">
    <div>
        <label id="comments_font_color" class="field_title">Comments</label>
        <input class="comment_input" type="text" name="comments" value="{{this_stock.comments}}"> <!-- for name, use the same name as the column names in the ERD diagram  -->
    </div>
    <p></p>
    <input id="button_reg" class="form_title" type="submit" value="Submit">
    </form>
</div>
</body>
</div>
</html>