<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='/my_style.css') }}">
    <title>View Selected Stock</title>
</head>
<div class="container_page_height">
<body>
<div class="flex_nav_container">
    <div class="nav_container">
        <h1 class="Welcome">Stock Details</h1>
    <ul class="nav_bullets_container">
        <h2 id="first_bullet" class="nav_bullet"><a class="nav_bullet" href="/stocks_table">Stock Table</a></h2>
        <h2 id="seccond_bullet" class="nav_bullet"><a class="nav_bullet" href="/logout">Log out</a></h2>
    </ul>
    </div>
</div>


{% if this_stock.id == none %}
    <h1>"There aren't any stocks with that ID"</h1>
{%else%}
<div class="flex_stocks_table">
    <table class="stocks_table">
        <thead>
            <th><h3 class="header_table">Stock Symbol</h3></th>
            <th><h3 class="header_table">Stock Name</h3></th>
            <th><h3 class="header_table">*Enterprise Value to EBITDA</h3></th>
            <th><h3 class="header_table">*Enterprise Value to Revenue</h3></th>
            <th><h3 class="header_table">*Forward P/E</h3></th>
            <th><h3 class="header_table">Buy/Hold/Sell</h3></th>
            <th><h3 class="header_table">Commeents</h3></th>
        </thead>
        <tbody>
            <td>{{ this_stock.name }}</td>
            <td>{{ this_stock.symbol }}</td>
            <td>{{ this_stock.EV_to_EBITDA }}</td>
            <td>{{ this_stock.EV_to_Revenue }}</td>
            <td>{{ this_stock.P_E }}</td>
            {% if this_stock.P_E != None and this_stock.P_E<25 and this_stock.EV_to_EBITDA < 25 and this_stock.EV_to_Revenue<10 %}
                <td>Buy</td>
                {% elif this_stock.P_E != None and this_stock.P_E<=35 and this_stock.EV_to_EBITDA <= 35 and this_stock.EV_to_Revenue<=20 %}
                <td>Hold</td>
                {% else %}
                <td>Sell</td>
                {% endif %}
            <td class="action">{{ this_stock.comments }}</td>
        </tbody>
{% endif %}
    </table>
    

</div>
</body>
<p id="instruction_details_margin" class="instruction_details">*Data is provided by Alpha Vantage's API</p>
</div>

</html>